<header>
   <p  style='font-size:36px;font-family:Arial; color:#F0F0F0; background-color: #00233c; padding-left: 20pt; padding-top: 20pt;padding-bottom: 10pt; padding-right: 20pt;'>
       Load ClearScape from Google Storage Bucket
  <br>
       <img id="teradata-logo" src="https://storage.googleapis.com/clearscape_analytics_demo_data/DEMO_Logo/teradata.svg" alt="Teradata" style="width: 125px; height: auto; margin-top: 20pt;">
    </p>
</header>

In [1]:
%connect local

Password: ·············

Success: 'local' connection established and activated for user 'demo_user', with default database 'demo_user'

<p style = 'font-size:18px;font-family:Arial;color:#00233C'><b>2. Creat Hospital_Revenue_Factors table from S3 Buckets</b></p>

In [ ]:
SELECT
  TOP 10 *
FROM (
	LOCATION='/gs/storage.googleapis.com/solomon_demo_data/CSVDATA/Hospital_Revenue_Factors.parquet'
) AS d;

In [ ]:
CREATE FOREIGN TABLE
Hospital_Revenue_Factors_F
USING ( LOCATION('/gs/storage.googleapis.com/solomon_demo_data/CSVDATA/Hospital_Revenue_Factors.parquet') );

In [ ]:
CREATE MULTISET TABLE Hospital_Revenue_Factors AS (
 
select * from Antiselect (
on Hospital_Revenue_Factors_F
USING
Exclude ('Location'
           )
) as dt) WITH DATA;

<p style = 'font-size:18px;font-family:Arial;color:#00233C'><b>3. Creat original_cluster table from S3 Buckets</b></p>

In [2]:
CREATE FOREIGN TABLE
original_cluster_F
USING ( LOCATION('/gs/storage.googleapis.com/solomon_demo_data/CSVDATA/original_cluster.parquet') );

Success: 0 rows affected

In [3]:
CREATE MULTISET TABLE original_cluster AS (
 
select * from Antiselect (
on original_cluster_F
USING
Exclude ('Location'
           )
) as dt) WITH DATA;

Success: 0 rows affected

<p style = 'font-size:18px;font-family:Arial;color:#00233C'><b>3. Creat feature table from S3 Buckets</b></p>

In [4]:
CREATE FOREIGN TABLE
features_F
USING ( LOCATION('/gs/storage.googleapis.com/solomon_demo_data/CSVDATA/features.parquet') );

Success: 0 rows affected

In [5]:
CREATE MULTISET TABLE features AS (
 
select * from Antiselect (
on features_F
USING
Exclude ('Location'
           )
) as dt) WITH DATA;

Success: 0 rows affected

In [ ]:
<p style = 'font-size:18px;font-family:Arial;color:#00233C'><b>5. Check if the  table from S3 Buckets</b></p>

In [26]:
SELECT
    *
FROM
    DBC.Tables
WHERE
      databasename = 'demo_user'
    order by 1;